<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel='icon' href='/img/icon.png'>
    <link rel='stylesheet' , href='/css/styles.css'>
</head>

<body>
    <div class='main-content'>
    {{>header}}
    <p>This website was created by Amgad Ramses. It uses data from the <a href="https://mapbox.com">mapbox</a> and <a href="https://weatherstack.com">weatherstack</a> APIs</p>
    <img class='portrait' src='/img/amgad.png'>
    </div>
   
	{{>footer}}
</body>

</html>